
@font-face {
  font-family: 'Webfont';
  src: url('../fonts/OpenSans.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;}

html, body{

    height:100%;
	background-color: white;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


@media (min-width: 900px) {

    .wrapper{
		margin: 0 auto;
        max-width: 1920px;
		min-width: 1200px;
		display: flex;
		border:5px solid red;
		max-height: 100%;
		flex-wrap: wrap;
	}
	.wrapper > div{
		border:5px solid green;
		width:1200px;
		margin: 0 auto;
		display:flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		
	}
	.wrapper > div >div {
		border: 5px solid blue;
		
	}
	.wrapper .navbar{
		font-size:15pt;
		justify-content: space-between;
		height: 65px;

	}
	.navbar .logo{
		font-family: 'Webfont';
  		font-size: 25pt;
  		margin-left:100px;
  		margin-bottom: auto;	
  	}
	.navbar > div {
		@include reset-list;		 
	}
/* menu  block */
  .navbar .menu{
  	 @include reset-list;
  }
  .navbar .menu > ul{
  	@include reset-list;
  	 display:flex;
  	 justify-content:center;
  }
  .navbar .menu > ul li a{
  	display:block;
  	padding: 15px;
  	text-transform: uppercase;
  	transition: all 0.3s ease;
  }
   .navbar .menu > ul li a:hover{
  	background-color: #454547;
  	color: #ffffff;
  	box-shadow: 1px 5px 10px -5px black;
  	transition: all 0.3s ease;
  }
  .navbar .menu li  ul{
  	position: absolute;
  	display:none;
  }
  .navbar .menu li:hover  ul{
  	position: absolute;
  	display:block;
  }
  
  
  
  .navbar .menu > ul li li{
  	@include reset-list;
  }
  /* !menu block*/
	.wrapper .banner{
		
	}
	.clear{
		margin:0;
		padding:0;
		border:0; 
	}

}