
@font-face {
  font-family: 'Webfont';
  src: url('../fonts/OpenSans.woff') format('woff');
       
  font-weight: normal;
  font-style: normal;}

html, body{

    height:100%;
	background-color: white;
}




@media (min-width: 900px) {

    .wrapper{
		margin: 0 auto;
        max-width: 1920px;
		min-width: 1200px;
		display: flex;
		border:5px solid red;
		max-height: 100%;
		flex-wrap: wrap;
	}
	.wrapper > div{
		border:5px solid green;
		width:1200px;
		margin: 0 auto;
		display:flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		
	}
	.wrapper > div >div {
		border: 5px solid blue;
		
	}
	.wrapper .navbar{
		font-size:15pt;
		justify-content: space-between;
		height: 65px;

	}
	.navbar .logo{
		font-family: 'Webfont';
  		font-size: 25pt;
  		margin-left:100px;
  		margin-bottom: auto;	
  	}
	.navbar > div {
		margin:0;
		padding:0;
		border:0; 
	}
	.menu ul{
		 list-style: none;
 		 margin: 0;
  		 padding: 0;
	}
	.navbar .menu ul li{
		float:left;
		
	}
	.wrapper .banner{
		
	}
	.clear{
		margin:0;
		padding:0;
		border:0; 
	}

}